<?xml version="1.0" encoding="UTF-8"?>
				<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
				<plist version="1.0">
				<dict>
					<key>items</key>
					<array>
						<dict>
							<key>assets</key>
							<array>
								<dict>
									<key>kind</key>
									<string>software-package</string>
									<key>url</key>
									<string>https://dl.dropboxusercontent.com/scl/fi/giwwpedr4zx9iq6bfvt9q/co.roteam.roteamios-1.0.5-6752686628-878879819.ipa?rlkey=vns7w2m8osxe6ao061zxxhcxq&st=bzsdd7dd&dl=1</string>
								</dict>
								<dict>
									<key>kind</key>
									<string>display-image</string>
									<key>needs-shine</key>
									<true/>
									<key>url</key>
									<string>dq.jpg</string>
								</dict>
								<dict>
									<key>kind</key>
									<string>full-size-image</string>
									<key>needs-shine</key>
									<true/>
									<key>url</key>
									<string>dq.jpg</string>
								</dict>
							</array>
							<key>metadata</key>
							<dict>
								<key>bundle-identifier</key>
								<string>co.roteam.roteamios</string>
								<key>bundle-version</key>
								<string>1.0.5</string>
								<key>kind</key>
								<string>software</string>
								<key>title</key>
								<string>Rổ Team</string>
							</dict>
						</dict>
					</array>
				</dict>
				</plist>
